html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blue;
}

h2 + h3 {
    color: lightskyblue;
}

section p {
    color: gray;
    background-color: yellow;
}

.italics {
    font-style: italic;
}

ul + ol {
    font-size: 1.5em;
    background-color: gray;
}
