html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: blue;
}

h2 + h3 {
    color: lightskyblue;
}

section p {
    color: #E2E8F0;
    background-color: #0F172A;
}

.italics {
    font-style: italic;
}

ul, ol  {
    background-color: gray;
}

body {
    border: 2px solid black;
    margin: 2rem 2rem 2rem 2rem;
}

section {
    border: 1px solid black;
    margin: 1em 1em 1em 1em;
}

